nav {
  background-color: #0b1013;
  width: 100%;
  ul {
    width: 50%;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    li {
      padding: 1rem;
      font-size: 1.4rem;
      a {
        color: #fffffb;
        text-decoration: none;
      }
    }
  }
}

.active {
  opacity: 1;
}

.unactive {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  nav {
    ul {
      flex-direction: column;
      li {
        padding: 1rem 2rem;
      }
    }
  }
}
