.home {
  display: flex;
  flex-wrap: wrap;
  background-image: url("../../images/Background.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  justify-content: space-between;

  section.left {
    flex: 2 1 700px;
    width: 60%;
    color: #fffffbf5;
    padding: 3rem;
    .title {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      .icon {
        display: flex;
        height: fit-content;
      }
    }
    h1 {
      font-size: 3.5rem;
      padding-bottom: 5rem;
      line-height: 4rem;
    }
    p {
      font-size: 2.25rem;
      padding-bottom: 2rem;
      min-width: 300px;
      line-height: 4rem;
    }
    .github {
      margin-top: 5px;
    }
    .linkedin {
      margin-left: 2rem;
    }
  }

  section.right {
    flex: 1 1 600px;
    width: 40%;
    img {
      width: 100%;
      height: auto;
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  }
}

@media screen and (max-width: 1300px) {
  section.left {
    h1 {
      font-size: 2rem !important;
      line-height: 3rem !important;
    }
    p {
      font-size: 1.5rem !important;
      line-height: 2rem !important;
    }
  }
  section.right {
    img {
      padding: 0rem 10rem;
    }
  }
}

@media screen and (max-width: 768px) {
  section.right {
    img {
      padding: 0rem 5rem;
    }
  }
}

@media screen and (max-width: 442px) {
  section.left {
    h1 {
      padding-bottom: 2rem !important;
      font-size: 2rem !important;
    }
    p {
      font-size: 1.25rem !important;
    }
    .icon {
      padding-bottom: 2rem;
    }
  }
}
