.home {
  display: flex;
  flex-wrap: wrap;
  background-image: url("../../images/Background.svg");
  justify-content: space-between;

  section.left {
    flex: 2 1 700px;
    width: 60%;
    padding: 2rem 3rem;
    color: #fffffbf5;

    .title {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .icon {
        display: flex;
      }
    }
    h1 {
      font-size: 3rem;
      padding-bottom: 5rem;
    }
    p {
      font-size: 1.5rem;
      padding-bottom: 2rem;
      min-width: 300px;
    }
    .github {
      margin-top: 5px;
    }
    .linkedin {
      margin-left: 2rem;
    }
  }

  section.right {
    flex: 1 1 400px;
    img {
      width: 100%;
      height: auto;
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  }
}

@media screen and (max-width: 1100px) {
  section.right {
    img {
      padding: 0rem 10rem;
    }
  }
}

@media screen and (max-width: 768px) {
  section.right {
    img {
      padding: 0rem 5rem;
    }
  }
}

@media screen and (max-width: 442px) {
  section.left {
    h1 {
      padding-bottom: 2rem !important;
    }
    .icon {
      padding-bottom: 2rem;
    }
  }
}
