div {
  display: flex;
  flex-wrap: wrap;

  section.left {
    flex: 3 1 500px;
    width: 50%;
    padding: 20px;
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1.5rem;
    }
  }

  section.right {
    width: 40%;
    img {
      width: 200px;
      height: 100%;
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  }
}
